
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="login">
    <ion-title>Reservas</ion-title>
    <ion-row>
      <ion-col>
   
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-tabs selectedIndex="2">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="parquedero">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>parquedero</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="hospedaje">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>hospedaje</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
