ion-col {
  height: 35px;
  padding: 0px;
  margin: 0px;
}
h2 {
  padding: 0%;
  margin: 0%;
}
p {
  padding: 0%;
  margin: 0%;
}

ion-row {
  padding: 0%;
  margin: 0%;
}
ion-grid {
  padding: 0%;
  margin: 0%;
}

ion-avatar {
  padding: 0%;
  margin: 0%;
}
