<ion-content>
  <ion-grid class="login">
    <ion-row class="ion-text-center"
      ><ion-col><h1>Bienvenido</h1> </ion-col></ion-row
    >
    <ion-row>
      <img src="assets/imgs/RES.png" class="logo" alt="" />
      <ion-col><ion-button (click)="test()">Reservar</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <img src="assets/imgs/MAP.png" class="logo" alt="" />
      <ion-col> <ion-button (click)="test()">Trayecto</ion-button></ion-col>
    </ion-row>
    <ion-row>
      
      <ion-col> <ion-button (click)="test()">Cerrar Seccion</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
