.login {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  font-weight: 900;
  h2 {
    text-align: center;
  }

  ion-input {
    margin-top: 10px;
    --placeholder-color: rgb(50, 60, 70);
    border-bottom: 1px solid rgb(50, 60, 70);
    ion-icon {
      color: rgb(50, 60, 70);
    }
  }
  ion-input:hover {
    margin-top: 15px;
    --placeholder-color: rgb(20, 110, 180);
    color: rgb(20, 110, 180);
    border-bottom: 1px solid rgb(20, 110, 180);
    ion-icon {
      color: rgb(20, 110, 180);
    }
  }
}
ion-button {
  --border-radius: 5px !important;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  margin-top: 10%;
  width: 50% !important;

  margin-left: 24% !important;
}
.logo_designed {
  width: 10% !important;
  height: 10% !important;
  margin-left: 35% !important;
  margin-right: 35% !important;
}
.footer {
  text-align: center;
  position: initial !important;
}

.img {
  width: 100%;
  height: 100%;
  img {
    height: 100%;
  }
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.3);
}
.link {
  text-decoration: none;
  color: rgb(20, 110, 180);
  font-weight: bold !important;
}
.footter {
  bottom: 0;
}
.input-item {
  border: 1px solid rgb(20, 110, 180, 0.5);
  border-radius: 10px;
  height: 47px;
  margin-bottom: 10px;
  max-width: 100% !important;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  ion-input {
    font-size: 15px !important;
    padding: 0px !important;
    max-height: 35px !important;
    margin-top: 0px;
    font-weight: bold;
  }
  ion-label {
    margin-top: 3px !important;
    padding: 0px !important;
    font-size: 12px;
    font-weight: bold;
  }
  ion-select {
    font-size: 15px !important;
    font-weight: bold;
    padding-left: 0px;
    width: 95% !important;
    color: rgb(20, 110, 180);
    --placeholder-color: rgb(50, 60, 70);
  }
  ion-datetime {
    font-size: 15px !important;
    --padding: 0px !important;
    --padding-top: -8px !important;
    max-height: 35px !important;
    height: 43px !important;
    margin-top: -15px !important;
    font-weight: bold;
    --padding-end: -41px !important;
    --padding-bottom: 50px !important;
    --placeholder-color: rgb(20, 110, 180, 0.5);
    button {
      height: 35px;
    }
  }
  span {
    margin-right: 5px;
    margin-top: -3px;
  }
}
.input-item:hover {
  border: 1px solid rgb(0, 52, 104);
  border-radius: 10px;
  height: 47px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  span {
    margin-right: 5px;
    margin-top: -3px;
  }
  ion-input {
    font-size: 15px !important;
    padding: 0px !important;
    max-height: 35px !important;
    margin-top: 0px;
    font-weight: bold;
  }
  ion-label {
    margin-top: 3px !important;
    padding: 0px !important;
    font-size: 12px;
    font-weight: bold;
  }
  ion-select {
    font-size: 15px !important;
    font-weight: bold;
    padding-left: 0px;
    width: 95% !important;
    color: rgb(20, 110, 180);
    --placeholder-color: rgb(50, 60, 70);
  }
  ion-datetime {
    font-size: 15px !important;
    --padding: 0px !important;
    --padding-top: -10px !important;
    max-height: 35px !important;
    height: 35px !important;
    margin-top: -5px;
    font-weight: bold;
    button {
      height: 35px;
    }
  }
}
.icon {
  width: 22px !important;
  height: 22px !important;
  margin-bottom: 2px !important;
  margin-top: 2px !important;
  color: rgb(20, 110, 180);
}

ion-item {
  width: 100%;
}

.country {
  display: inline-flex;
  .co {
    width: 42px;
    height: 27px;
    margin: 5px;
    border: 1.5px solid #146eb4;
    border-radius: 2px;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    img {
      margin-top: 1px;
      width: 38px;
      height: 23px;
    }
  }
  .co-active {
    width: 42px;
    height: 27px;
    margin: 5px;
    border: 1.5px solid #dadada;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    img {
      margin-top: 1px;
      width: 38px;
      height: 23px;
    }
  }
  .pa {
    width: 42px;
    height: 27px;
    margin: 5px;
    border: 1.5px solid #146eb4;
    border-radius: 2px;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
    img {
      margin-top: 1px;
      width: 38px;
      height: 23px;
    }
  }
  .pa-active {
    width: 42px;
    height: 27px;
    margin: 5px;
    border: 1.5px solid #dadada;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    img {
      margin-top: 1px;
      width: 38px;
      height: 23px;
    }
  }
}
.country3 {
  display: inline-flex;
}
.alert-radio-icon {
  border-radius: 0 !important;
  border: none !important;
  height: 40px !important;
  width: 40px !important;
  background-size: 40px 40px !important;
  background-repeat: no-repeat;
}

[id^="alert-input-"][id$="0"] .alert-radio-icon {
  background-image: url("/assets/imgs/panama.png") !important;
}
[id^="alert-input-"][id$="1"] .alert-radio-icon {
  background-image: url("/assets/imgs/panama.png") !important;
}
[id^="alert-input-"][id$="2"] .alert-radio-icon {
  background-image: url("/assets/imgs/panama.png") !important;
}
.alert-radio-inner {
  background-color: transparent !important;
}
.select_Country {
  width: 95%;
  background-color: #fff;
  border: none;
  margin-top: 3px;
  outline: none;
  color: rgb(20, 110, 180);


}

.fondo {
  
  --background: none;
  background-image: url("../../../../assets/imgs/fondo.png") !important;
}
